.header {
    background-image: linear-gradient(180deg, #f63f2e, #ff6433);
    height: 120px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    padding-inline-start: 0px;
}

.header__navbar-item {
    list-style: none;
    font-size: 1.4rem;
    color: var(--white-color);
    display: inline-block;
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-icon {
    font-size: 1.8rem;
    color: var(--white-color);
    text-decoration: none;
    margin: 0 4px;
}

.header__navbar-item--separate::after{
    position: absolute;
    content: "";
    display: block;
    border-right: 1px solid #f96c5c;
    height: 14px;
    right: -9px;
    top: 50%; /* Cách top 50% cuả thẻ chứa nó */
    transform: translateY(-50%); /* Kéo lên 50% của chính nó thì nó là 14/2 = 7px sẽ đẩy lên cao */
}

.header__navbar-item-link {
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-item--strong {
    font-weight: 600;
}

.header__navbar-item:hover,
.header__navbar-icon:hover,
.header__navbar-item-link:hover {
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.header__navbar-item-has-notify:hover .header__notify {
    display: block;
}

.header__navbar-title--no-pointer {
    cursor: default;
    color: var(--white-color);
}

.header__navbar-icon-link {
    text-decoration: none;
}

.header__navbar-list,
.header__navbar-icon-link,
.header__navbar-item-link,
.header__navbar-item {
    display: inline-flex;
    align-items: center;
}

/* Header QR_Code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease .5s;
}

.header__qr::before {
    content: "";
    display: block;
    width: 100%; /* 100% của thẻ .header__qr */
    height: 8px;
    position: absolute;
    top: -8px;
    left: 0px;
}

.header__qr-img {
    width: 100%; 
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.header__qr-link:first-child  { /* .header__qr-link:nth-child(1) {}  */
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-link--mt-5 {
    margin-top: 3px;
}

.header__qr-link:last-child { /* .header__qr-link:nth-child(2) {} */
    margin-left: 11px;
}

.header__qr-download-img {
    height: 14px;
}

/* Header Notification */
.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotify ease-in 0.2s;
    -webkit-animation: headerNotify ease-in 0.2s;
    -moz-animation: headerNotify ease-in 0.2s;
    -o-animation: headerNotify ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    display: block;
    border: 12px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -24px;
    right: 29px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    right: 0;
    top: -20px;
    background-color: transparent;
}

@keyframes headerNotify {
    from {
        opacity: 0; /* Hình ảnh mờ */
        transform: scale(0); /* Bắt đầu mở rộng theo hình nón từ 0 */
    }
    to {
        opacity: 1; /* Hình ảnh hiện thị rõ ràng */
        transform: scale(1); /* Hình ảnh đã mở rộng ra hết tất cả */
    }
}

.header__notify-header {
    height: 40px;
}

.header__notify-header h3 {
    color: #949191;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 0 0 1.2rem;
    line-height: 40px;
    cursor: text;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.header__notify-list {
    padding-left: 0;
    background-color: rgba(238,77,45,0.07);
}

.header__notify-item {
    list-style: none;
}

.header__notify-item:hover {
    background-color: rgb(245, 242, 242);
}

.header__notify-item-pt-pb-10 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header__notify-link {
    display: flex;
    text-decoration: none;
}

.header__notify-img {
    width: 38px;
    margin: 0 0.6rem 0 1.2rem;
    object-fit: contain;
}

.header__notify-info {
    color: var(--black-color);
}

.header__notify-name {
    display: block; /* Thẻ span không có thuộc tính display: block; nên không thể xuống hàng */
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 4px;
}

.header__notify-description {
    display: block; /* Thẻ span không có thuộc tính display: block; nên không thể xuống hàng */
    font-size: 1.2rem;
}

.header__notify-footer {
    width: 404px;
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    width: 100%;
    font-weight: 400;
    font-size: 1.4rem;
    color: #000;
    font-weight: 500;
    padding: 8px 0;
    margin: auto;
    text-align: center;
}